@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+Pro&display=swap");
.wrapper {
  width: 100%;
  background: white; }
  .wrapper header {
    height: 70px; }
    .wrapper header .mikasa {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 83.33%;
      margin: 0 auto; }
      .wrapper header .mikasa .header-container:nth-child(1) {
        width: auto;
        padding: 20px; }
      .wrapper header .mikasa .header-container ul li {
        display: inline;
        padding: 5px; }
        .wrapper header .mikasa .header-container ul li a {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          color: #3a5f56;
          text-decoration: none; }
          .wrapper header .mikasa .header-container ul li a:hover {
            color: #3a5f00; }
      .wrapper header .mikasa .nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40.6%;
        margin: 10px;
        height: 50px; }
        .wrapper header .mikasa .nav-container .header-container {
          padding: 5px;
          width: 75%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 36px; }
        .wrapper header .mikasa .nav-container .nav-button {
          width: 25%;
          height: 100%; }
  .wrapper .agneshka {
    width: 100%;
    height: 100%;
    background: #3a5f56;
    color: white;
    font-size: 16px;
    border: 0;
    border-radius: 6px; }
  .wrapper .true-size {
    width: 21.37%;
    height: 16%; }
  .wrapper main section {
    display: flex;
    flex-direction: column; }
    .wrapper main section .spot {
      position: relative; }
      .wrapper main section .spot:nth-child(2) {
        display: flex;
        justify-content: end; }
      .wrapper main section .spot:last-child {
        float: left; }
    .wrapper main section .portfolio {
      min-width: 100%;
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .wrapper main section .portfolio .freedom {
        display: flex;
        flex-direction: row;
        align-items: center; }
      .wrapper main section .portfolio .pf-card {
        max-width: 38.33%;
        height: 52.68%;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); }
        .wrapper main section .portfolio .pf-card img {
          width: 100%; }
        .wrapper main section .portfolio .pf-card:first-child {
          max-width: 100%;
          height: 43%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          z-index: 9999; }
        .wrapper main section .portfolio .pf-card h1 {
          font-family: "Source Serif Pro";
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 58px;
          color: #3a5f56; }
        .wrapper main section .portfolio .pf-card p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #292c32; }
  .wrapper main .services {
    width: 100%;
    margin-bottom: 15%; }
    .wrapper main .services .services-container {
      min-width: 83.33%;
      max-width: 83.33%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 7%; }
      .wrapper main .services .services-container .bottom-part {
        max-width: 97.35%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; }
        .wrapper main .services .services-container .bottom-part .services-card {
          min-width: 32%;
          max-width: 32%;
          background: #F4F3F0; }
          .wrapper main .services .services-container .bottom-part .services-card:nth-child(4) {
            margin-top: 16px; }
          .wrapper main .services .services-container .bottom-part .services-card:nth-child(5) {
            margin-top: 16px; }
          .wrapper main .services .services-container .bottom-part .services-card:nth-child(6) {
            margin-top: 16px; }
          .wrapper main .services .services-container .bottom-part .services-card:nth-child(7) {
            margin-top: 16px; }
          .wrapper main .services .services-container .bottom-part .services-card .services-card-container {
            padding: 30px 39px 29px 30px; }
            .wrapper main .services .services-container .bottom-part .services-card .services-card-container div:first-child {
              padding-bottom: 9px;
              width: 48px;
              height: 48px; }
            .wrapper main .services .services-container .bottom-part .services-card .services-card-container .services-card-info {
              width: 100%; }
              .wrapper main .services .services-container .bottom-part .services-card .services-card-container .services-card-info h2 {
                font-family: 'Source Serif Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #3A5F56;
                padding-bottom: 6px; }
              .wrapper main .services .services-container .bottom-part .services-card .services-card-container .services-card-info p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #292C32;
                padding-bottom: 17px; }
  .wrapper main button[type="submit"] {
    background: none;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #3A5F56; }
  .wrapper main .top-part {
    height: 10.41%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.916%; }
    .wrapper main .top-part img {
      padding-bottom: 1.21%; }
    .wrapper main .top-part h2 {
      font-family: "Source Serif Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #3a5f56;
      padding-bottom: 0.91%; }
    .wrapper main .top-part p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #292c32; }
  .wrapper main .preset-store-container {
    width: 100%;
    background: #F4F3F0; }
    .wrapper main .preset-store-container .preset-store {
      margin-top: 8.33%;
      display: flex;
      flex-direction: column; }
      .wrapper main .preset-store-container .preset-store .top-part h2 {
        color: #DB343B; }
      .wrapper main .preset-store-container .preset-store div {
        margin: 0 auto; }
        .wrapper main .preset-store-container .preset-store div button {
          background: none;
          border: none;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 24px;
          color: #3A5F56; }
      .wrapper main .preset-store-container .preset-store .preset-pack-container {
        min-width: 83.33%;
        max-width: 83.33%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 30px; }
        .wrapper main .preset-store-container .preset-store .preset-pack-container .preset-pack {
          display: flex;
          flex-direction: column;
          width: 31.58%;
          background: white;
          border-radius: 16px; }
          .wrapper main .preset-store-container .preset-store .preset-pack-container .preset-pack div:last-child {
            padding: 30px; }
          .wrapper main .preset-store-container .preset-store .preset-pack-container .preset-pack img {
            width: 100%; }
          .wrapper main .preset-store-container .preset-store .preset-pack-container .preset-pack h2 {
            font-family: 'Source Serif Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            color: #3A5F56;
            padding-bottom: 6px; }
          .wrapper main .preset-store-container .preset-store .preset-pack-container .preset-pack p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #3A5F56; }

/*# sourceMappingURL=style.css.map */
